.card{
    background-color: grey;
    width: 400px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}
.App{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.card img{
    width: 330px;
    height: 230px;
}